repos:
 # Run ruff first because autofix behaviour is enabled
 - repo: https://github.com/Quantco/pre-commit-mirrors-ruff
   rev: "0.1.3"
   hooks:
    - id: ruff-conda
 - repo: https://github.com/Quantco/pre-commit-mirrors-ruff
   rev: "0.1.3"
   hooks:
    - id: ruff-format-conda
 - repo: https://github.com/Quantco/pre-commit-mirrors-mypy
   rev: "1.5.1"
   hooks:
    - id: mypy-conda
      additional_dependencies:
        - -c
        - conda-forge
        - types-mock
        - types-setuptools
        - types-redis
        - types-boto
        - boto3-stubs
 - repo: https://github.com/Quantco/pre-commit-mirrors-pyupgrade
   rev: 3.10.1
   hooks:
    - id: pyupgrade-conda
      args:
        - --py38-plus
