repos:
 # Run ruff first because autofix behaviour is enabled
 - repo: https://github.com/Quantco/pre-commit-mirrors-ruff
   rev: "0.1.4"
   hooks:
    - id: ruff-conda
    - id: ruff-format-conda
 - repo: https://github.com/Quantco/pre-commit-mirrors-mypy
   rev: "1.6.1"
   hooks:
    - id: mypy-conda
      additional_dependencies:
        - -c
        - conda-forge
        - types-mock
        - types-setuptools
        - types-redis
        - types-boto
        - boto3-stubs
 - repo: https://github.com/Quantco/pre-commit-mirrors-pyupgrade
   rev: 3.15.0
   hooks:
    - id: pyupgrade-conda
      args:
        - --py38-plus
